{{>partial_header}}
package {{packageName}}

import (
	"mainote-backend/pkg/server"
)

// ImplResponse defines an implementation response with error code and the associated body
type ImplResponse = server.ImplResponse
